---
import Layout from '@/layouts/layout.astro'
import Header from '@/components/layout/header.astro'
import Footer from '@/components/layout/footer.astro'
import ModulesGrid from '@/components/blocks/modules-grid.astro'
import ProductHero from '@/components/blocks/hero/product-hero.astro'

import type { HomeContent } from '@/content/home'
import type { MktMaestroContent } from '@/content/open-source/mkt-maestro'

interface Props {
	content: HomeContent
	pageContent: MktMaestroContent
	locale?: 'en' | 'pt_BR'
}

const { content, pageContent, locale = 'en' } = Astro.props

const title = 'MktMaestro'
const about = 'MktMaestro is an open-source tool designed to automate and optimize marketing workflows.'
---

<Layout
	title={`${title} - Rafhael Marsigli`}
	description={about}
	lang={locale === 'pt_BR' ? 'pt-BR' : 'en'}
>
	<Header content={content.global.nav} locale={locale} />
	
	<main>
		<div class='space-y-16 pb-24'>
            <ProductHero content={pageContent.hero} />
			<ModulesGrid content={pageContent.modules} />
		</div>
	</main>

	<Footer content={content.global.footer} />
</Layout>